@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

/* Background Image */

body {
    background: url("../images/crowd.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Homepage Header */

.page-title, .social-links-home-page, .newsletter-homepage-desktop {
    text-align:center;
    margin-top:20px;
}

.page-title h1 {
    font-family: "Pangolin", sans-serif;
    font-weight: 400;
    font-size: 48px;
    color:white;
}

.social-link {
    margin-right:30px;
    margin-top:10px;
    font-size:28px;
}

#newsletter-callout-desktop {
    font-size:24px;
    font-family: "Pangolin", sans-serif;
}

.newsletter-icon-desktop {
    margin-top:10px;
    font-size:28px;
}

.newsletter-icon-desktop:hover {
    color:#ff6600;
}

.newsletter-homepage-desktop a {
    color:white;
    text-decoration: none;
}

.social-links-home-page a {
    color:white;
    text-decoration: none;
}

.newsletter-icon-desktop {
    margin-left:20px;
}

.facebook:hover {
    color:#3333ff;
}

.twitter:hover {
    color:#3399ff;
}

.instagram:hover {
    color:#ff66ff;
}

.spotify:hover {
    color:#00cc66;
}

.youtube:hover {
    color:red;
}

.soundcloud:hover {
    color:#ff6600;
}

/* Nav Items */

.nav-bar {
    position: absolute;
    bottom:80px;
    text-align:center;
}

.nav-item a {
    text-decoration: none;
    color:white;
    font-family: "Pangolin", sans-serif;
    font-size:24px;
}

.nav-item a:hover {
    text-decoration:underline;
}

.newsletter-mobile {
    display:none;
}

/* Media Queries */

@media only screen and (max-width:768px) {
    .newsletter-homepage-desktop {
        display:none;
    }

    .newsletter-mobile {
        display:block;
    }
    
    .page-title h1 {
        font-size:36px;
    }

    .social-link {
        margin-top:5px;
    }

    .social-links-home-page {
        margin-left: 15px;
    }

    .nav-item {
        margin-top:20px;
        text-shadow: 2px 2px black;
    }

    .nav-bar{
        position: absolute;
        bottom:-40px;
        text-align:center;
    }
}

@media only screen and (min-width:768px) and (max-width:778px) {
    .newsletter-homepage-desktop {
        display:block;
    }

    .newsletter-mobile {
        display:none;
    }

    .social-links-home-page {
        margin-left:0;
    }

    .nav-bar {
        position: absolute;
        bottom:80px;
        text-align:center;
    }
}

@media only screen and (max-width:575px) {
    .social-links-home-page {
        margin-left: 30px;
    }
}