@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

/* Background Image */

/* Fixed Background Image Was A Combination Of A CSS Tricks Tutorial And Help From A Tutor --- Relevant Links And Info in Credits Section in ReadMe File */
#background {
    position:fixed;
    width:100%;
    height:100%;
    background: url("../images/crowd.png") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    z-index:-100;
}

/* Universal Site Settings */

body {
    background-color:black;
    color:white;
    /* Text Shadow Property Came From My Mentor --- Link in Credits Section of ReadMe File*/ 
    text-shadow:-1px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px 2px black;;
}

.pangolin {
    font-family: "Pangolin", sans-serif;
}

/* Homepage Header */

.page-title, .social-links-home-page, .newsletter-homepage-desktop {
    text-align:center;
    margin-top:20px;
}

.page-title h1 {
    font-weight: 400;
    font-size: 48px;
    text-shadow: 2px 2px black;
}

.social-link {
    margin-right:30px;
    margin-top:10px;
    font-size:28px;
}

#newsletter-callout-desktop {
    font-size:24px;
}

#newsletter-callout-desktop:hover {
    text-decoration: underline;
}

.newsletter-icon-desktop {
    margin-top:10px;
    font-size:28px;
    margin-left:20px;
}

.newsletter-homepage-desktop a, .social-links-home-page a {
    text-decoration: none;
    color:white;
}

.facebook:hover {
    color:#3333ff;
}

.twitter:hover {
    color:#3399ff;
}

.instagram:hover {
    color:#ff66ff;
}

.spotify:hover {
    color:#00cc66;
}

.youtube:hover {
    color:red;
}

.soundcloud:hover {
    color:#ff6600;
}

/* Nav Items */

.nav-bar {
    position: absolute;
    bottom:80px;
    text-align:center;
}

.nav-item a {
    text-decoration: none;
    font-size:24px;
    color:white;
}

.nav-item a:hover {
    text-decoration:underline;
}

.newsletter-mobile {
    display:none;
}

/* Meet the Band */

 .band-bio-section {
    position: relative;
    top:725px;
    text-align:center;
}

#meet-the-band, .band-member-name {
    text-align:center;
    font-weight: 400;
}

#meet-the-band {
    font-size:42px;
}

.band-member-name {
    font-size: 32px;
    margin-top: 25px;
}

.band-bio {
    position:relative;
    top:20px;
    text-align:center;
}

.bio {
    font-weight: 400;
    font-size:20px;
    margin-top:10px;
    margin-right:30px;
    text-align:center;
}

.headshot {
    width:192px;
    height:255px;
}

/* Music */

#music {
    text-align:center;
    font-weight: 400;
    font-size: 42px;
}

.music-section {
    position: relative;
    top:875px;
    text-align:center;
}

.music-content {
    margin-top:50px;
}

iframe {
    width:560px;
    height:315px;
    border:0;
}

/* Shows */

.shows-section {
    position:relative;
    top:1025px;
    text-align:center;
}

#shows {
    text-align:center;
    font-weight: 400;
    font-size: 42px;
}

.divider {
    margin-top:50px;
}

.show-location {
    padding-left:100px;
    margin-top:50px;
}

.show-time {
    padding-right:100px;
    margin-top:50px;
}

.disclaimer {
    font-size:20px;
    margin-top:20px;
}

/* Signup Page */

.newsletter-title h1 {
    font-weight: 400;
    font-size: 36px;
    text-align:center;
}

.home-desktop a {
    text-decoration: none;
    font-size:24px;
}

.home-desktop, .newsletter-title {
    margin-top:20px;
}

.home-desktop {
    text-align:center;
}

.home-desktop a {
    color:white;
}

.home-desktop a:hover {
    text-decoration: underline;
}

.home-icon-desktop {
    margin-top:10px;
    font-size:28px;
    margin-left:20px;
}

.form-section {
    margin-top:50px;
    text-align:center;
}

label {
    font-size:24px;
}

.home-mobile {
    display:none;
}

.btn {
    background-color:white;
    color:black;
}

.btn:hover {
    background-color:green;
    color:white;
}

form h4 {
    margin-top:20px;
    margin-bottom:0px;
}

.form-item {
    margin-top:40px;
}

/* Thank You */

.return-home {
    position:relative;
    width: 100%;
    margin-top:200px;
    text-align:center;
}

.return-home h3, .thank-you-link-home {
    font-size:24px;
}

.thank-you-link-home {
    text-align: center;
    color:white;   
}

.thank-you-link-home:hover {
    color:white;
}

/* Footer - Main */

.footer-section {
    position:relative;
    top:1175px;
    text-align:center;
}

/* Footer - Sign Up */

.footer-section-signup {
    position:relative;
    text-align:center;
    top:160px;
}

/* Footer - Thank You */

.footer-section-thank-you {
    position:relative;
    text-align:center;
    top:310px;
}

/* Media Queries - Width */

@media only screen and (width:768px) {
    .newsletter-title {
        width:100%;
        margin-left:33%;
    }
}

@media only screen and (max-width:768px) {
    .newsletter-homepage-desktop {
        display:none;
    }

    .newsletter-mobile {
        display:block;
    }
    
    .page-title h1, #meet-the-band {
        font-size:36px;
    }

    .social-link {
        margin-right:20px;
        margin-left:0;
    }

    .social-links-home-page {
        margin-left: 15px;
    }

    .nav-item {
        margin-top:20px;
    }

    .nav-bar{
        position: absolute;
        bottom:-40px;
        text-align:center;
    }

    .band-bio-section {
        top:825px;
    }

    iframe {
        width:80%;
    }

    .music-section {
        top:975px;
    }

    .shows-section {
        top:1125px;
    }

    .show-time {
        padding-right:0px;
    }

    .show-location {
        padding-left:0px;
    }

    .footer-section {
        top:1275px;
    }

    .newsletter-title h1 {
        font-weight: 400;
        font-size: 28px;
    }

    .checkbox-text {
        font-size:16px;
    }

    .placeholder-div {
        display:none;
    }

    .home-mobile {
        display:block;
        font-size:24px;
        text-align:center;
        padding-top:40px;
        color:white;
    }

    .home-mobile:hover {
        color:white;
    }

    .home-desktop {
        display:none;
    }
}    

@media only screen and (min-width:768px) and (max-width:900px) {
    .newsletter-homepage-desktop {
        display:block;
    }

    .newsletter-mobile {
        display:none;
    }

    .social-links-home-page {
        margin-left:0;
    }

    .nav-bar {
        position: absolute;
        bottom:80px;
        text-align:center;
    }

    .band-bio-section {
        top:750px;
    }
}

@media only screen and (max-width:575px) {
    .social-links-home-page {
        margin-left: 30px;
    }
}

/* Media Queries - Height */

@media screen and (min-height:1725px) {
    .nav-bar {
        position:relative;
        top:1400px;
    }
}

@media screen and (min-height:1400px) {
     .band-bio-section {
        position: relative;
        top:1600px;
     }
     
     .music-section {
         top: 1750px;
     }

     .shows-section {
         top:1950px;
     }

     .return-home {
         margin-top:500px;
         font-size:32px;
     }

     .footer-section {
         top:2100px;
     }

     .form-section {
         margin-top:300px;
     }

     .footer-section-signup {
         top:500px;
     }

     .footer-section-thank-you {
        top:700px;
     }   
}

@media screen and (min-height:1025px) and (max-height:1400px) {
     .band-bio-section {
        position: relative;
        top:1350px;
     }

     .music-section {
         top: 1500px;
     }

     .shows-section {
         top:1650px;
     }

     .return-home {
         margin-top:450px;
         font-size:32px;
     }

     .footer-section {
         top:1800px;
     }

     .form-section {
         margin-top:250px;
     }

     .footer-section-signup {
         bottom:100%;
     }

     .footer-section-thank-you {
        bottom:100%;
     }   
}

@media screen and (min-height:850px) and (max-height:1024px) {
     .band-bio-section {
        position: relative;
        top:1000px;
     }
     
     .music-section {
         top: 1100px;
     }

     .shows-section {
         top:1200px;
     }

     .return-home {
         margin-top:300px;
     }

     .footer-section {
         top:1300px;
     }

     .form-section {
         margin-top:150px;
     }

     .footer-section-signup {
         top:220px;
     }

     .footer-section-thank-you {
        bottom:100%;
     }   
}

@media screen and (max-height:700px) {
    .band-bio-section {
        top:650px;
    }

    .music-section {
        top:750px;
     }

     .shows-section {
        top:850px;
     }

     .footer-section {
         top:950px;
     }
}

@media screen and (max-height:400px) {
    .nav-bar {
        top:200px;
    }

    .band-bio-section {
        top:450px;
    }

    .music-section {
        top:550px;
     }

     .shows-section {
        top:650px;
     }

     .footer-section {
         top:750px;
     }
}